body {background-color:black; font-family: ariel;color:black}
h3{color:grey; font-family: Verdana;}
.maindiv {background-color: white; font:black; width: 300px; padding: 20px;
    border-radius: 25px; 
    align-self:center;}
    .number {
        border: solid yellow;
        background-color: yellow;
    }


